*{
   padding: 0;
   margin: 0;
   font-family: 'Red Rose', cursive;
}
.backimage{

    width: 100%;
    height: 100vh;
    background-image: url('images/bla1.jpeg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.profile{

    width: 360px;
    background-color: rgba(48, 0, 77, 0.959);
    padding: 30px 0px;
    border-radius: 2%;

}

 img{
     height: 325px;
     border-radius: 5%;
     margin-bottom: 20px;
 }

 .profileText{
     margin-bottom: 20px;
 }
 .profileText h2{
     font-size: 2em;
     font-weight: 500;
     margin-bottom: 7px;
}

.profileText h3{
    font-size: 1.4em;
    font-weight: 300;
    margin-bottom: 10px;
}

  i{
    color: white;

  }